.profileMain{
    /* background-color: red; */
    width: 800px;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    position: relative;
    
}
.avtar{
    position:absolute;
    top: 25%;
    right: 77%;
    z-index: 100;
   
}
.avtarEdit{
    position:absolute;
    top: 45%;
    right: 68%;
    z-index: 100;
   
}
.button{
    display: flex;
    justify-content:end;
    padding-right: 10px;
    padding-top: 10px;
}
.userName{
    margin-top: 20px;
    margin-left: 30px;
}
.followers{
    margin-top: 20px;
    margin-left: 30px; 
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.reel{
    display: flex;
   
    flex-wrap: wrap;
    
    width: 100%;
}

.post{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.card{
    width: 395px;
    
}
.editDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boxEdit{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 10px;
}
.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 95%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .scrollDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 30vh;
  }
  .mainScroll{
    position: relative;
    overflow-y: scroll;
    max-height: 80vh;
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }