.middleMain{
    background-color: rgb(255, 255, 255);;
    width: 500px;
    height: 100vh; 
    margin-left: 144px;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.rightMain{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 500px;
    padding: 10px;
   display: flex;
   flex-direction: column;
}  
.storyMain{
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    justify-content: space-between;
    
    
    
}
.addStory{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90px;
    margin-left: 4px;
    margin-top: 5px;
}

.postCardMain{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
   
}

.items{
    
    overflow-y: scroll; 
    -ms-overflow-style: none; 
    scrollbar-width: none;
    height: 100vh;
}
.textItem{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.text{
    font-size: 15px;
    font-weight:500;
}